build/Release/*.dll filter=lfs diff=lfs merge=lfs -text
build/Release/*.exe filter=lfs diff=lfs merge=lfs -text
build/Release/*.pak filter=lfs diff=lfs merge=lfs -text
build/Release/*.dat filter=lfs diff=lfs merge=lfs -text
build/Release/*.lib filter=lfs diff=lfs merge=lfs -text
*.tar.bz2 filter=lfs diff=lfs merge=lfs -text

*.dll filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.pak filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
